div.wc-rbp-enhanced-select {
	display: inline-block;
	margin-right: 10px !important;
	vertical-align: middle;
	width: 50% !important;
}

div.wc-rbp-enhanced-select div.selectize-dropdown {
	width: 100% !important;
}

div.jqibox {
	z-index: 100010 !important;
}

div.jqifade {
	background-color: black !important;
}


.wc_rbp_settings_content {
	display: inline-block;
	float: none;
	margin-top: 10px;
	width: 100%;
}

/**
 * Custom Box Modal Style
 

.custombox-modal-wrapper {
	z-index: 99999 !important;
}*/

.custombox-modal-container {
	min-width: 600px;
	width: auto !important;
}


.wc-rbp-modal .close {
	float: right;
	font-size: 31px;
	font-weight: bold;
	line-height: 1;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.wc-rbp-modal .close:hover,
.wc-rbp-modal .close:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.wc-rbp-modal .close {
	margin-right: 15px;
	margin-top: 10px;
	position: relative;
}

.wc-rbp-modal button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.wc-rbp-modal h4 {
	font-weight: 400;
	font-size: 22px;
	line-height: 22px;
	font-family: 'Dosis', sans-serif;
}

.wc-rbp-modal {
	background-color: #FFF;
	/*max-width: 1000px !important;*/
	min-width: 300px !important;
	/*width: auto!important;*/
	display: inline-block !important;
	border: #000 solid 1px;
	border-radius: 10px;
	box-shadow: 0 8px 6px -6px black;
	text-align: left;
	display: none;
}

.wc-rbp-modal .title {
	border-bottom: 1px solid #ccc;
	font-size: 22px;
	line-height: 18px;
	margin: 10px 0 !important;
	padding: 10px 20px 15px;
}

.wc-rbp-modal .text {
	display: block;
	width: 100%;
}

.wc-rbp-modal-content.text > div {
	padding: 0 20px;
	padding-bottom: 20px;
	width: auto;
}

.wc_rbp_price_editor_footer {
	border-top: 1px solid #ccc;
	margin-top: 20px;
	padding-top: 20px !important;
}

.wc_rbp_price_editor_footer > p {
	margin: 0 !important;
}

.wc_rbp_price_editor_footer #update_price {
	float: right;
}

.wc_rbp_ajax_overlay {
    background: black none repeat scroll 0 0;
    opacity: 0.3;
    position: fixed;
    z-index: 2147483647;
	display: none;
}


.wc_rbp_ajax_overlay .sk-folding-cube {
    height: 75px;
    margin: 0 auto;
    top: 50%;
    width: 75px;
}




/**
 * WC RBP Price Editor Tab Styles
 */

.pws_tabs_controll > li {
	margin-bottom: 0 !important;
}


/*.pws_theme_dark_grey
.pws_theme_dark_grey
.pws_theme_dark_grey
.pws_theme_dark_grey
.pws_theme_dark_grey*/

div.pws_tabs_container ul.pws_tabs_controll a {
	border: 1px solid #4d4d4f !important;
	padding: 0.5em 1em !important;
	position: relative !important;
}

div.pws_tabs_container.pws_tabs_horizontal_bottom ul.pws_tabs_controll a.pws_tab_active {
	border-top: medium none !important;
	padding-bottom: 0.6em !important;
	padding-top: 0.6em !important;
	position: relative !important;
	top: -1px !important;
}

div.pws_tabs_container.pws_tabs_horizontal_top ul.pws_tabs_controll a.pws_tab_active {
	border-bottom: medium none !important;
	padding-bottom: 0.6em !important;
	padding-top: 0.6em !important;
	top: 1px !important;
	z-index: 2 !important;
}

.pws_tabs_container.pws_tabs_vertical_right ul.pws_tabs_controll a.pws_tab_active {
	border-left: medium none !important;
	left: -1px !important;
	z-index: 2 !important;
}

.pws_tabs_container.pws_tabs_vertical_left ul.pws_tabs_controll a.pws_tab_active {
	border-left: medium none !important;
	right: -1px !important;
	z-index: 2 !important;
}

.pws_tabs_list {
	border: 1px solid;
	display: inline-block !important;
	width: 100%;
}

.pws_tab_single {
	display: block !important;
	max-width: 94% !important;
	/*padding-right: 0 !important;*/
	width: 100%;
}

div.wc-rbp-modal-content.text div.enable_field_container p {
	font-size: 18px;
	margin: 20px 0;
	padding: 10px 0;
	text-align: center;
}

div.wc-rbp-modal-content.text div.enable_field_container p label {
	font-weight: bold;
	margin-right: 20px;
}

.wc_rbp_popup_section {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.wc_rbp_popup_section:last-child {
	border-bottom: 0px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

div.wc_rbp_popup_section > div.wc_rbp_pop_field {
	display: inline-block;
	margin-right: 7px;
	margin-left: 0;
	width: 99%;
}

div.wc_rbp_popup_section > div.wc_rbp_pop_field_50 {
	display: inline-block;
	margin-right: 7px;
	margin-left: 0;
	width: 49%;
}

div.wc_rbp_popup_section > div.wc_rbp_pop_field_50:last-child {
	display: inline-block;
	margin-right: 0;
	margin-left: 7px;
}


.wc_rbp_addon_listing .plugin-card-top.wc-rbp-addons-required-plugins {
    min-height: auto;
    padding: 5px 20px;
}

.wc_rbp_addon_listing .plugin-card-top.wc-rbp-addons-required-plugins > div > p {
    margin: 0;
}

.wc_rbp_addon_listing .plugin-card-top.wc-rbp-addons-required-plugins ul {
    list-style: inside none disc;
	display: inline-block;
	margin-bottom: 10px; 
	margin-top: 10px;
}

.wc_rbp_required_addon_plugin_name {
    color: #0073aa;
}


.wc_rbp_required_addon_plugin_status.active {
    color: green;
    font-weight: bold;
}

.wc_rbp_required_addon_plugin_status.deactivated {
    color: red;
    font-weight: bold;
}

.wc-rbp-addons-required-plugins li {
    padding: 0 10px;
}

.wc-rbp-addons-required-plugins li.notexist {
    background: red none repeat scroll 0 0;
    color: white;
    font-weight: bold;
}


.wc-rbp-addons-required-plugins li.notexist  .wc_rbp_required_addon_plugin_name{
	color: white;
}


.wc_rbp_addon_listing .plugin-card-top.wc-rbp-addons-required-plugins h3 {
    color: navy;
    font-size: 14px;
    margin-bottom: 0;
}

.wc_rbp_addon_listing .desc.column-description {
    margin-right: 0;
}
.wc_rbp_addon_listing .name.column-name {
    margin-right: 0;
}



.wc_rbp_addon_listing .plugin-card-bottom .column-updated {
    width: calc(100% - 300px);
}

.wc_rbp_addon_listing .wc_rbp_ajax_overlay {
    border-radius: 3px;  
    opacity: 0.13;
    position: absolute; 
}

.wc_rbp_addon_listing .sk-folding-cube {
    height: 50px;
    margin: 10px auto;
    top: 30%;
    width: 50px;
}

.column-downloaded.wc_rbp_ajax_response {
    float: none;
    max-width: none;
	display: block;
    max-width: 330px;
}

.column-downloaded.wc_rbp_ajax_response span {
    margin-top:0;
}


.wc_rbp_ajax_error {
    color: red;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
}

.wc_rbp_ajax_success {
    color: green;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
}




/*
 *  Usage:
 *
 *    <div class="sk-wandering-cubes">
 *      <div class="sk-cube sk-cube1"></div>
 *      <div class="sk-cube sk-cube2"></div>
 *    </div>
 *
 */

.sk-wandering-cubes {
	margin: 0 auto;
	width: 32px;
	height: 32px;
	position: relative;
}

.sk-wandering-cubes .sk-cube {
	background-color: #333;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
	animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
}

.sk-wandering-cubes .sk-cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes sk-wanderingCubeMove {
	25% {
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
		transform: translateX(42px) rotate(-90deg) scale(0.5);
	}
	50% {
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
		transform: translateX(42px) translateY(42px) rotate(-179deg);
	}
	50.1% {
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
		transform: translateX(42px) translateY(42px) rotate(-180deg);
	}
	75% {
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

@keyframes sk-wanderingCubeMove {
	25% {
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
		transform: translateX(42px) rotate(-90deg) scale(0.5);
	}
	50% {
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
		transform: translateX(42px) translateY(42px) rotate(-179deg);
	}
	50.1% {
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
		transform: translateX(42px) translateY(42px) rotate(-180deg);
	}
	75% {
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

div.sk-wandering-cubes .sk-cube {
	background-color: #FFF;
}

.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes sk-foldCubeAngle {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

.bar {
	width: auto;
	min-width: 100px;
	max-width: 600px;
	height: 20px;
	border: 1px solid #2980b9;
	border-radius: 3px;
	background-image: repeating-linear-gradient( -45deg, #2980b9, #2980b9 11px, #eee 10px, #eee 20px/* determines size */
	);
	background-size: 28px 28px;
	animation: move .5s linear infinite;
}

@keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 28px 0;
	}
}


/**
 * Styled Checkbox CSS Code
 */

.switchery {
	background-color: #fff;
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	position: relative;
	vertical-align: middle;
	width: 50px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: content-box;
	background-clip: content-box
}

.switchery>small {
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	height: 30px;
	position: absolute;
	top: 0;
	width: 30px
}

.switchery-small {
	border-radius: 20px;
	height: 20px;
	width: 33px
}

.switchery-small>small {
	height: 20px;
	width: 20px
}

.switchery-large {
	border-radius: 40px;
	height: 40px;
	width: 66px
}

.switchery-large>small {
	height: 40px;
	width: 40px
}